.main-menu-container {
  display: flex;
  height: 100%;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #f5e0ff;
}

.close-button {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.open-button {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
