.metrics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  margin: 0.5rem 0rem;
}

.metric-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: max-content;
  margin: 0.25rem;
}

.metric {
  color: #c9abe3;
  font-family: "Gotham Black";
  font-size: 1.15rem;
  margin: 0rem;
  line-height: normal;
}

.metric-label {
  color: #351572;
  font-family: "Gotham Medium";
  font-size: 0.8rem;
  margin: 0rem;
  line-height: normal;
}

.metric-content {
  margin: 0rem 0.5rem;
}

.metrics-section-title {
  color: #351572;
  font-family: "Gotham Black";
  font-size: 1.25rem;
}
