.metrics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  margin: 0.5rem 0rem;
}

.metric-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: max-content;
  margin: 0.25rem;
}

.metric-container p {
  color: #351572;
  font-size: 1rem;
  font-family: "Gotham Book";
  margin: 0rem 0.5rem;
}

.metric {
  font-family: "Gotham Black";
  font-size: 1rem;
}

.metrics-section-title {
  color: #351572;
  font-family: "Gotham Black";
  font-size: 1.25rem;
}
